@charset "utf-8";

.tweet-list li {
    list-style: none;
}

.error-list {
    color: red;
    list-style: none;
}

.good-list {
    text-decoration: none;
    color: red;
}

.Notgood-list {
    text-decoration: none;
}